
<h1>Welcome to Bounce</h1>
<img src="https://media.giphy.com/media/LpALgGQNZLzdm/giphy.gif" alt="Bouncy" height="300">

  <% @messages.reverse.each do |message| %>
  <div>
    <%= message.display_time %>: <a href=<%="/full_message/#{message.id}"%>><%= message.preview %></a> 
  </div>
  <% end %>

<form action="/send_message" method="post">
  <input type="text" name="message">
  <input type="text" name="tag" id="tag">
  <input type="submit" value="Send">
</form>