<!DOCTYPE HTML>
<html>
<head>
  <center>
  <style>
  h1 {
    color: #45A6F7;
    font-family: Gill Sans;
    font-weight: lighter;
  }

  input {
    color: #45A6F7;
    border-radius: 10px;
    font-family: Gill Sans;
  }
  </style>
</head>

<body>
  <br>
  <br>
  <%= yield%>
</body>
</center>
</html>